Repository pcdshub/lcls-twincat-optics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcdshub/optics-sme, @pcdshub/twincat-reviewers, @pcdshub/software-admin

.github/CODEOWNERS:

# default group
* @pcdshub/optics-sme

# language-specific group(s)
## TWINCAT files
*.tsproj @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.plcproj @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.tmc @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.tpr @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.xti @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.TcTTO @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.TcPOU @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.TcDUT @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.TcGVL @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.TcVis @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.TcVMO @pcdshub/optics-sme @pcdshub/twincat-reviewers
*.TcGTLO @pcdshub/optics-sme @pcdshub/twincat-reviewers

# github folder holds administrative files
.github/** @pcdshub/software-admin

ENH: add secondary axis current DC current and driver supply voltage var
  lcls-twincat-optics/lcls_twincat_optics_plc/DUTs/DUT_HOMS.TcDUT
Owners: @pcdshub/optics-sme, @pcdshub/twincat-reviewers

STY: remove spaces
  lcls-twincat-optics/lcls_twincat_optics_plc/DUTs/DUT_HOMS.TcDUT
Owners: @pcdshub/optics-sme, @pcdshub/twincat-reviewers

Tagging version v0.9.0
  lcls-twincat-optics/lcls_twincat_optics_plc/Version/Global_Version.TcGVL
  lcls-twincat-optics/lcls_twincat_optics_plc/lcls_twincat_optics_plc.plcproj
Owners: @pcdshub/optics-sme, @pcdshub/twincat-reviewers

AUTO: apply dependabot and GHA SHAs
  .github/dependabot_template.yml
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

Auto-update from Github Actions Workflow
  master/_static/base-stemmer.js
  master/_static/css/theme.css
  master/_static/doctools.js
  master/_static/english-stemmer.js
  master/_static/language_data.js
  master/_static/searchtools.js
  master/_static/sphinx_highlight.js
  master/genindex.html
  master/index.html
  master/lcls-twincat-optics_boxes.html
  master/lcls-twincat-optics_ethercat.html
  master/lcls-twincat-optics_lcls_twincat_optics_plc_epics.html
  master/lcls-twincat-optics_lcls_twincat_optics_plc_source.html
  master/lcls-twincat-optics_lcls_twincat_optics_plc_summary.html
  master/lcls-twincat-optics_links.html
  master/lcls-twincat-optics_nc.html
  master/lcls-twincat-optics_pragmas.html
  master/search.html
  master/searchindex.js
  master/test.html
Owners: @pcdshub/optics-sme

AUTO: fix name of dependabot config file
  .github/dependabot.yml
Owners: @pcdshub/software-admin
